@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@800&family=Inter:wght@500&family=Poppins&display=swap');

* ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;

}

body{
background-color: #ff9174;
}
/* 
.header-container{
    border-radius: 100px;
    background: #DA502B;
    margin: auto;
} */
h1 {
    font-family: 'Inknut Antiqua', serif;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    max-width: 500px;
    margin: auto;
    border-radius: 100px;
    background: #DA502B;
    
   
}

h2,h3,h4,h5,h5{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.banner{
    background-color: #DA502B;
    border-radius: 22px;
 
}

.banner-title-container{
    text-align: center;
    color: #fff;
}

.banner-title-container > h2{
    padding-top: 10px;
    font-size: 25px;
}

.banner-content-box{
    background-color: #FFCEA9;
    text-align: center;
    color: #000;
    border-radius: 0 0 22px 22px;
    border: 4px solid #DA502B;
}



/* result section  */

.result-container{
    margin-top: 50px;
    background-color: #DA502B;
    border-radius: 22px ;

}

.result-top-bar{
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
}

.result-top-bar > h3{
    font-size: 25px;
}
.result-body{
    background-color: #FFD0C3;
    border-radius: 0 0 22px 22px;
    border: 4px solid #DA502B;
    text-align: center;

}

.result-content{
    width: 150px;
    margin: auto;
}

.result-content > h4 {
    font-size: 25px;
}

.result-body-body, button{
width: 180px;
margin: auto;
 background-color: #fff;
 display: flex;
 justify-content: space-around;
 padding: 12px 10px;
 border: 1px solid black;
 border-radius: 100px;
 margin-bottom: 10px;
 font-weight: 600;
 align-items: center;
 font-size: 17px;
}


.btn{
    background-color: #DA502B;
    color: #fff;
    text-align: center;
    padding: 3px 5;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 166px;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    margin: 20px auto;
}


.table-container{
    border: 2px solid #DA502B;
}
table{
    width: 100%;
}

table, th, td{
    border: 1px solid #DA502B;
    text-align: center;
    border-collapse: collapse;

}

thead{
    background-color: #FFCEA9;
    font-weight: 600;
    font-size: 16px;
}
tbody{
    background-color: #fff;
    font-size: 22px;
    font-weight: 600;
}


.text-red{
    color: #DA502B;
}

.contact-section{
    margin: 20px 0;
    background-color: #fff;
    border: 3px solid #DA502B;
    border-radius: 22px;

}

.contact-section > p{
    background-color: #DA502B;
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    text-align: center;
    margin: 15px 10px;


}

.inner-contact{
    text-align: center;
    padding: 10px 20px;

}

.inner-contact > h6{
    font-size: 25px;
    font-weight: bold;
    
    margin: 15px 0;
  
}


.footer-inner{
    border: 4px solid #DA502B;
    background-image: linear-gradient(to bottom right , #FFEADA, #FA714C);
    padding: 15px;
    border-radius: 22px;
    text-align: center;
}